<div *ngIf="session.user.name" class="profile-wrapper">
  <div class="container">
    <h1>Perfil</h1>
    <div class="user-info">
      <label for="email">Email</label>
      <input type="text" name="email" [(ngModel)]='email'>

      <label for="password">Contraseña</label>
      <input type="password" name="password" [(ngModel)]='password'>

      <label for="address">Dirección de envío</label>
      <input type="text" name="address" [(ngModel)]='address'>
      <div class="button-wrapper">
        <a class="button" (click)='save()'>Guardar cambios</a>
      </div>
      <p *ngIf="saving" class="saving">Guardando cambios...</p>
    </div>
  </div>
</div>

<div *ngIf="!session.user.name" class="error">
  <p>Esta página solo está disponible para usuarios registrados.</p>
</div>
