* {
  font-family: 'Raleway';
}

.login-form {
  max-width: 380px;
  position: relative;
  margin: 0 auto;
  top: 50px;
  margin-bottom: 40px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.27);
  border-radius: 10px;
  background: #fafafa;
}

.header-form {
  text-transform: uppercase;
  letter-spacing: -4px;
}

.header-form h1 {
  font-family: initial;
  text-align: center;
  padding: 30px;
}

.input-form {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 65px;
}

.input-form > input {
  padding: 10px 16px;
  text-align: center;
  border: none;
  border-bottom: 1px solid #ccc;
  background: transparent;
  font-size: 14px;
}

.input-form > label {
  padding-top: 10px;
  font-weight: 900;
}

.hr-inline {
  position: relative;
  text-align: center;
  margin: 0 auto;
  max-width: 100px;
  border-bottom: 1px solid #ccc;
  height: 10px;
  padding: 10px;
}

.hr-text {
  background: #fafafa;
  padding: 0 6px;
}

.button-form {
  text-align: center;
  margin: 0 65px;
  padding: 29px 20px;
}

.enter-btn {
  padding: 10px 66px;
}

.register-wrapper {
  padding-bottom: 62px;
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

.register-wrapper a {
    color: #ff7878;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.register-btn {
  border: 1px solid #ff7878;
  background: transparent;
  padding: 10px 45px;
}

.register-wrapper a:hover {
  transition: all 0.3s ease-out;
  background: #ff7878;
  color: white;
  box-shadow: none;
}

/* POP UP */

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  opacity: 0;
  visibility: hidden;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
  padding-top: 10px;
}
