<div class="header-wrapper">
    <div class="logo-header">
      <h1>Melody</h1>
    </div>
    <div class="nav">
      <div class="menu-wrapper">
        <a routerLink="/">Inicio</a>
        <a >Top</a>
        <a >Acerca de</a>
        <a routerLink="/profile" *ngIf='session.logged'>Perfil</a>
        <a routerLink="/admin" *ngIf='session.user.admin'>Admin</a>

      </div>
      <div class="login-wrapper">
        <img (click)="show()" src="./img/cart.png" width="40" height="32" alt="">
        <a routerLink="/login" [attr.data-count]="cartCount" *ngIf='!session.logged'>Login</a>
        <a [attr.data-count]="cartCount" *ngIf='session.logged'>{{session.user.name}}</a>
        <p (click)='logout()' *ngIf='session.logged'>Cerrar sesión</p>
      </div>
    </div>
</div>
