/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Raleway';
  src: url('./fonts/Raleway-Regular.ttf')  format('truetype');
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  color: #333;
  box-sizing: border-box;
}

a { text-decoration: none; cursor: pointer; transition: text-shadow 0.2s ease-in-out}
a:hover {
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.44);
}
input { outline: none; }

body {
  background: #fafafa;
  overflow-x: hidden;
}

/* COMMON */

.button {
  cursor: pointer;
  position: relative;
  top: 3vh;
  background-color: #ff7878;
  color: #fff;
  border-radius: 100px;
  padding: 9px 20px;
  border-width: 0;
  letter-spacing: 1.1px;
  min-width: 130px;
  font-size: 12px;
  text-transform: uppercase;
  white-space: normal;
}

.error {
  font-size: 24px;
  font-family: Raleway;
  text-align: center;
  top: 45vh;
  position: absolute;
  left: 30vh;
  right: 30vh;
}

.saving {
  color: rgb(255, 120, 120);
}
